.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: black; /* Agregado para asegurar que el texto sea oscuro */
}

.navbar.dark-mode {
  background-color: black; /* Color de fondo para el modo oscuro */
  color: white; /* Color de texto para el modo oscuro */
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 10px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.brand-link {
  margin-right: auto;
  color: inherit; /* Hereda el color del texto de su contenedor */
  text-decoration: none;
  font-size: 1.5em;
}

.brand-initial {
  color: red;
  font-weight: bold;
}

button {
  margin-left: 10px;
}

.navbar.dark-mode .nav-list li a {
  color: white;
}
